<a href="https://colab.research.google.com/github/nurkomarhidaya/Machine-Learning-TensorFlow/blob/main/python1_tipedata_operator_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# judul
## sub judul
### isi
**bold text**

*italicized text*

#Python 1

###Tipe Data

In [ ]:
a = 10
print(a, "bertipe", type(a))

10 bertipe <class 'int'>

In [ ]:
nama = 'Toni'
print(nama, "bertipe", type(nama))

Toni bertipe <class 'str'>

In [ ]:
hasil = True
print(hasil, "bertipe", type(hasil))

True bertipe <class 'bool'>

In [ ]:
angka = 1.2
print(angka,"bertipe",type(angka))

1.2 bertipe <class 'float'>

###Operation

In [ ]:
print(3+3)

6

In [ ]:
print(3*3)

9

In [ ]:
print(3**3)

27

In [ ]:
print(9/3)

3.0

In [ ]:
print(25%7)
#%, mod, sisa pembagian 7*3 = 21 , 25 %7

4

In [ ]:
print(8//5) # 1....

1

In [ ]:
print(5//2) #2.5

2

In [ ]:
8 - 3 + 2

7

In [ ]:
6 * 5 / 9

3.3333333333333335

In [ ]:
print(max(2,3,4))
print(min(2,3,4))
print(round(5.6))
print(round(1.5))

4
2
6
2

###String

In [ ]:
print("Hello World")
print("Welcome to Python")

Hello World
Welcome to Python

In [ ]:
teks = """Hello world \nWelcome to python"""
print(teks)

Hello world
Welcome to python

In [ ]:
teks1 = """Saya \t tab kamu \nkamu \t dia"""
print(teks1)

Saya 	 tab kamu
kamu 	 dia

In [ ]:
kutipantiga = """this is a long string that is made up of several lines and non-printable characters such as TAB ( \t ) and they will show up that way when displayed. NEWLINEs within the string, whether explicitly given like this within the brackets [ \n ], or just a NEWLINE within the variable assignment will also show up.
"""
print(kutipantiga)

this is a long string that is made up of several lines and non-printable characters such as TAB ( 	 ) and they will show up that way when displayed. NEWLINEs within the string, whether explicitly given like this within the brackets [
 ], or just a NEWLINE within the variable assignment will also show up.

In [ ]:
nama = "Toni"
umur = 120
print("Nama aku " + nama)
print("Umur saya " + str(umur))
print(nama + " adalah namaku.")
print(nama + " namaku.")

Nama aku Toni
Umur saya 120
Toni adalah namaku.
Toni namaku.

In [ ]:
nama = "Toni"
umur = 120
print("Nama aku " + nama)
print("Umur saya " + str(umur)) # int di ubah ke str
nama = "Bella"
print(nama + " adalah namaku.")
print(nama + " namaku.")
print(int('807') + 1) # string di ubah ke int

Nama aku Toni
Umur saya 120
Bella adalah namaku.
Bella namaku.
808

In [ ]:
name = "BELLA"
#       01234
print(name.upper())
print(name.lower())
print(name.isupper())
print(name.islower())
print(len(name))
print(name[1:4])
print(name[2:4])
print(name[-3])
#index selalu mulai dari 0
print(name.index("E"))

BELLA
bella
True
False
5
ELL
LL
L
1

In [ ]:
a = 10
b = 13

In [ ]:
temp = a

In [ ]:
a = b

In [ ]:
b = temp

In [ ]:
print(a,b)

13 10

###Functions

In [2]:
def perkenalan (nama, asal):
          print(f"Perkenalkan saya {nama} dari {asal}")

perkenalan("Alvin", "Jawa Timur")
perkenalan("Stevani", "Jawa Tengah")

Perkenalkan saya Alvin dari Jawa Timur
Perkenalkan saya Stevani dari Jawa Tengah

In [3]:
def luasSegitiga (alas, tinggi):
    luas = (alas * tinggi)/2
    print("Luas segitiga =",luas)

luasSegitiga(3,6)
luasSegitiga(9,8)

Luas segitiga = 9.0
Luas segitiga = 36.0

In [4]:
#Excercise
#Buatlah sebuah fungsi untuk menghitung volume balok 
def volumeBalok(p,l,t):
  #rumus
  Volume = p * l *t
  #cetak hasil
  print("Volume balok =", Volume)

#panggil fungsi volume balok
volumeBalok(500, 12, 3)

Volume balok = 18000

In [5]:
#excercise
#Buatlah sebuah fungsi untuk menghitung luas jajargenjang 
def luasJajargenjang (a,t):
  ljajargenjang = a*t 
  return ljajargenjang

luasJajargenjang(1.2, 3)

3.5999999999999996

In [ ]:
#membuat fungsi lias lingkaran
def circleArea (radius) : 
  pi = 3.14159
  area = pi *(radius**2)
  print("Luas lingkaran =",area)
circleArea(10)

Luas lingkaran = 314.159

####Percabangan

In [ ]:
i = 2
if i ==1:
    print(1)
elif i == 2:
    print(2)
else :
    print("Not 1 and 2")

2

###List

In [ ]:
friends = ["A", "B", "C"]
print(friends)            #["A", "B", "C"]
print(friends[0])         #A
print(friends[-1])        #C
print(friends[1:])        #["B", "C"]
print(friends[0:2])       #["A", "B"]
print(friends[1:])

['A', 'B', 'C']
A
C
['B', 'C']
['A', 'B']
['B', 'C']

In [ ]:
X = ["A", "B", "C"]
Y = [1, 2, 3]
# X.extend(Y)
# print(X)

In [ ]:
X.append("D")    
print(X)

['A', 'B', 'C', 'D']

In [ ]:
X.insert(1, "D")
print(X)

['A', 'D', 'B', 'C', 'D']

In [ ]:
X.clear()
print(X)

[]

In [ ]:
X = ["A", "B", "C"]
Y = [1, 2, 3]
# X.pop()
# print(X)

In [ ]:
X.pop()
print(X)

['A', 'B']

In [ ]:
X.index("B")           
print(X)

['A', 'B']

In [ ]:
X.count("B")           
print(X)

['A', 'B']

In [ ]:
X.sort()
print(X)

['A', 'B']

In [ ]:
X.reverse()     
print(X)

['B', 'A']

In [ ]:
X2 = X.copy()
print(X2)

['B', 'A']

###Dictionary

In [ ]:
# mendefinisikan dictionary
id_divisi = {
    71 : 'IT',
    82 : 'Finance',
    91 : 'Data',
    62 : 'Marketing'
}

# mengakses data menggunakan key
print("Divisi dengan kode 71:", id_divisi[71])
print("Divisi dengan kode 62:", id_divisi[62])

Divisi dengan kode 71: IT
Divisi dengan kode 62: Marketing

In [ ]:
days_in_a_week = {
        "Mon": "Monday",
        "Tue": "Tuesday",
        "Wed": "Wednesday",
        "Thu": "Thursday",
        "Fri": "Friday",
        "Sat": "Saturday",
        "Sun": "Sunday"
    }
days_in_a_week["Mon"]            
days_in_a_week["Sun"]

'Sunday'

###Pengulangan

In [ ]:
#for loops
angka = [1,2,3,4,5]
for x in angka:
    print(x)

1
2
3
4
5

In [ ]:
#for loops
buah = ["nanas", "apel", "jeruk", "mangga", "kiwi", "alpukat"]
for makanan in buah:
    print ("Saya suka makan", makanan)

Saya suka makan nanas
Saya suka makan apel
Saya suka makan jeruk
Saya suka makan mangga
Saya suka makan kiwi
Saya suka makan alpukat

In [ ]:
#while loops
count = 0
while (count <= 9):
    print ("The count is: ", count)
    count = count + 1

print ("Good bye!")

The count is:  0
The count is:  1
The count is:  2
The count is:  3
The count is:  4
The count is:  5
The count is:  6
The count is:  7
The count is:  8
The count is:  9
Good bye!

In [1]:
#Nested Loops
i = 2
while(i < 100):
    j = 2
    while(j <= (i/j)):
        if not(i%j): break
        j = j + 1
    if (j > i/j) : print(i, " is prime")
    i = i + 1

print("Good bye!")

2  is prime
3  is prime
5  is prime
7  is prime
11  is prime
13  is prime
17  is prime
19  is prime
23  is prime
29  is prime
31  is prime
37  is prime
41  is prime
43  is prime
47  is prime
53  is prime
59  is prime
61  is prime
67  is prime
71  is prime
73  is prime
79  is prime
83  is prime
89  is prime
97  is prime
Good bye!

###Kaggle

In [ ]:
spam_amount = 0
print(spam_amount)

# Ordering Spam, egg, Spam, Spam, bacon and Spam (4 more servings of Spam)
#spam_amount += 4=

if spam_amount > 0:
    print("But I don't want ANY spam!")

viking_song = "Spam " * spam_amount
print(viking_song)

0

In [ ]:
hat_height_cm = 25
my_height_cm = 190
# How tall am I, in meters, when wearing my hat?
total_height_meters = (hat_height_cm + my_height_cm)/ 100
print("Height in meters =", total_height_meters, "?")

Height in meters = 2.15 ?

In [ ]:
#ubah code diatas menjadi sebuah function untuk menghitung tinggi dalam meter
def totalHeightMeter (tinggi, topi):
  tinggiTotalM = (tinggi + topi)/100
  print("Tinggi total dalam meter =",tinggiTotalM)

totalHeightMeter(190,25)

Tinggi total dalam meter = 2.15

###Excercise

In [ ]:
#Buat program untuk menghitung jumlah seluruh angka ganjil dalam suatu list
# Input: list berisi angka-angka
# Output: jumlah seluruh angka ganjil 

x = int(input('Masukkan x: '))
print('x adalah bilangan', 'genap' if (x % 2 == 0) else 'ganjil')

Masukkan x: 7
x adalah bilangan ganjil

In [ ]:
print('Masukkan nilai awal dan nilai akhir')

nilai_awal = int(input(' nilai awal: '))
nilai_akhir = int(input(' nilai akhir: '))

print("""\nTampilkan bilangan
 1. Ganjil
 2. Genap""")

pilihan = int(input('Pilihan: '))

# periksa kalau pilihan bukan 1 dan 2
if pilihan not in [1, 2]:
  print('Pilihan salah')
else:
  for x in range(nilai_awal, nilai_akhir + 1):
    if pilihan == 1 and x % 2 == 1:
      print(x, end=' ')
    elif pilihan == 2 and x % 2 == 0:
      print(x, end=' ')
  else:
    # ganti baris ketika perulangan selesai
    print('')

Masukkan nilai awal dan nilai akhir
 nilai awal: 1
 nilai akhir: 20

Tampilkan bilangan
 1. Ganjil
 2. Genap
Pilihan: 1
1 3 5 7 9 11 13 15 17 19

In [ ]:
#Diberikan input suatu angka, tampilkan formasi piramida bintang dengan tinggi sesuai dengan angka yang diinputkan
# Input: suatu angka (n)
# Output: piramida dengan tinggi n

#    *
#   ***
#  *****  contoh output untuk n = 5
# *******
#*********

string = ""

x = int(input("Masukkan angka :"))
bar = x
# Looping Baris
while bar >= 0:
	# Looping Kolom Spasi Kosong
	kol = bar
	while kol > 0:
		string = string + "   "
		kol = kol - 1
	# Looping Kolom Bintang Sisi Kiri	
	kiri = 1
	while kiri < (x - (bar-1)):
		string = string + " * "
		kiri = kiri + 1		
	# Looping Kolom Bintang Sisi Kanan
	kanan = 1
	while kanan < kiri -1:
		string = string + " * "
		kanan = kanan + 1	

	string = string + "\n\n"
	bar = bar - 1
	
print (string)

In [ ]:
#Diberikan input suatu angka, tampilkan formasi piramida bintang dengan tinggi sesuai dengan angka yang diinputkan
# Input: suatu angka (n)
# Output: piramida dengan tinggi n

#*********
# *******
#  *****  contoh output untuk n = 5
#   ***
#    *

string = ""
bar = 1

x = int(input("Masukkan angka :"))
print ("\n")
# Looping Baris
while bar <= x:
	kol = bar
	# Looping Kolom Spasi Kosong
	while kol > 1:
		string = string + "   "
		kol = kol - 1
	# Looping Kolom Bintang Sisi Kiri	
	kiri = 0
	while kiri <= (x - bar):
		string = string + " * "
		kiri = kiri + 1	
	# Looping Kolom Bintang Sisi Kanan
	kanan = kiri	
	while kanan > 1:
		string = string + " * "
		kanan = kanan - 1

	string = string + "\n\n"
	bar = bar + 1
print (string)

In [ ]:
# Diberikan input suatu angka, tampilkan formasi Perataan Tengah (Belah Ketupat) bintang dengan tinggi sesuai dengan angka yang diinputkan
# Input: suatu angka (n)
# Output: piramida dengan tinggi n

# Masukkan data :6
                  
#                * 
#             *  *  * 
#          *  *  *  *  * 
#       *  *  *  *  *  *  * 
#    *  *  *  *  *  *  *  *  * 
# *  *  *  *  *  *  *  *  *  *  * 
#    *  *  *  *  *  *  *  *  * 
#       *  *  *  *  *  *  * 
#          *  *  *  *  * 
#             *  *  * 
#                * 

string = ""

x = int(input("Masukkan data :"))
bar = x
# Looping Baris
while bar >= 0:
  # Looping Kolom Spasi Kosong
  kol = bar
  while kol > 0:
    string = string + "   "
    kol = kol - 1
  
  # Looping Kolom Bintang Sisi Kiri
  kiri = 1
  while kiri < (x -(bar-1)):
    string = string + " * "
    kiri = kiri + 1
  
  # Looping Kolom Bintang Sisi Kanan
  kanan = 1
  while kanan < kiri - 1:
    string = string + " * "
    kanan = kanan + 1

  string = string + "\n\n"
  bar = bar - 1

bar = 1
# Looping Baris
while bar <= x:
  kol = bar+1
  # Looping Kolom Spasi Kosong
  while kol > 1: 
    string = string + "   "
    kol = kol - 1
  # Looping Kolom Bintang Sisi Kiri
  kiri = 0
  while kiri < (x - bar):
    string = string + " * "
    kiri = kiri + 1
  # Looping Kolom Bintang Sisi Kanan
  kanan = kiri
  while kanan > 1:
    string = string + " * "
    kanan = kanan - 1

  string = string + "\n\n"
  bar = bar + 1

print (string)

In [ ]:
# Diberikan input suatu angka, tampilkan formasi segitiga dengan perataan tengah atas bawah,  bintang dengan tinggi sesuai dengan angka yang diinputkan
# Input: suatu angka (n)
# Output: piramida dengan tinggi n

#Masukkan angka :6

# *  *  *  *  *  *  *  *  *  *  * 
#    *  *  *  *  *  *  *  *  * 
#       *  *  *  *  *  *  * 
#          *  *  *  *  * 
#             *  *  * 
#                * 
#             *  *  * 
#          *  *  *  *  * 
#       *  *  *  *  *  *  * 
#    *  *  *  *  *  *  *  *  * 
# *  *  *  *  *  *  *  *  *  *  * 

string = ""
bar = 1

x = int(input("Masukkan angka :"))
print ("\n")
# Looping Baris
while bar < x:
	# Looping Kolom Spasi Kosong
	kol = bar
	while kol > 1:
		string = string + "   "
		kol = kol - 1
	# Looping Kolom Bintang Sisi Kiri
	kiri = 0
	while kiri <= (x - bar):
		string = string + " * "
		kiri = kiri + 1	
	# Looping Kolom Bintang Sisi Kanan
	kanan = kiri	
	while kanan > 1:
		string = string + " * "
		kanan = kanan - 1

	if (bar+1) <= x:
		string = string + "\n\n"
	bar = bar + 1

bar = x-1	
# Looping Baris
while bar >= 0:
	# Looping Kolom Spasi Kosong
	kol = bar
	while kol > 0:
		string = string + "   "
		kol = kol - 1
	# Looping Kolom Bintang Sisi Kiri	
	kiri = 1
	while kiri < (x - (bar-1)):
		string = string + " * "
		kiri = kiri + 1		
	# Looping Kolom Bintang Sisi Kanan
	kanan = 1
	while kanan < kiri -1:
		string = string + " * "
		kanan = kanan + 1	

	string = string + "\n\n"
	bar = bar - 1
print (string)

Masukkan angka :6


 *  *  *  *  *  *  *  *  *  *  *

    *  *  *  *  *  *  *  *  *

       *  *  *  *  *  *  *

          *  *  *  *  *

             *  *  *

                *

             *  *  *

          *  *  *  *  *

       *  *  *  *  *  *  *

    *  *  *  *  *  *  *  *  *

 *  *  *  *  *  *  *  *  *  *  *

In [ ]:
# Diberikan input suatu angka, tampilkan formasi piramida bintang dengan tinggi sesuai dengan angka yang diinputkan
# Input: suatu angka (n)
# Output: piramida dengan tinggi n

# Masukkan Angga :9
# * 
# *  * 
# *  *  * 
# *  *  *  * 
# *  *  *  *  * 
# *  *  *  *  *  * 
# *  *  *  *  *  *  * 
# *  *  *  *  *  *  *  * 
# *  *  *  *  *  *  *  *  * 

string = ""
bar = 1

x = int(input("Masukkan Angga :"))

# Loop Baris
while bar <= x:
  kol = bar

  # Loop Kolom
  while kol > 0:
    string = string + " * "
    kol = kol - 1

  string = string + "\n"
  bar = bar + 1

print (string)

In [ ]:
# Diberikan input suatu angka, tampilkan formasi piramida bintang dengan tinggi sesuai dengan angka yang diinputkan
# Input: suatu angka (n)
# Output: piramida dengan tinggi n

# Masukkan angka9
# *  *  *  *  *  *  *  *  * 
# *  *  *  *  *  *  *  * 
# *  *  *  *  *  *  * 
# *  *  *  *  *  * 
# *  *  *  *  * 
# *  *  *  * 
# *  *  * 
# *  * 
# * 

string = ""
bar = int (input("Masukkan angka"))

# Looping Baris
while bar >= 0:
  kol = bar

  # Looping Kolom
  while kol > 0:
    string = string + " * "
    kol = kol - 1

  string = string + "\n"
  bar = bar - 1

print (string)

In [ ]:
# Diberikan input suatu angka, tampilkan formasi piramida bintang dengan tinggi sesuai dengan angka yang diinputkan
# Input: suatu angka (n)
# Output: piramida dengan tinggi n

# Masukkan angka : 9
#                           
#                         * 
#                      *  * 
#                   *  *  * 
#                *  *  *  * 
#             *  *  *  *  * 
#          *  *  *  *  *  * 
#       *  *  *  *  *  *  * 
#    *  *  *  *  *  *  *  * 
# *  *  *  *  *  *  *  *  * 


string = ""
x = int (input("Masukkan angka : "))
bar = x
# Looping Baris
while bar >= 0:
  # Looping Kolom Spasi Kosong
  kol = bar
  while kol > 0:
    string = string + "   "
    kol = kol - 1 
  
  # Looping Kolom Bintang
  kanan = 1
  while kanan < (x - (bar-1)):
    string = string + " * "
    kanan = kanan + 1
  
  string = string + "\n"
  bar = bar - 1

print (string)

In [ ]:
# Diberikan input suatu angka, tampilkan formasi piramida bintang dengan tinggi sesuai dengan angka yang diinputkan
# Input: suatu angka (n)
# Output: piramida dengan tinggi n

# Masukkan angka :9
# *  *  *  *  *  *  *  *  * 
#    *  *  *  *  *  *  *  * 
#       *  *  *  *  *  *  * 
#          *  *  *  *  *  * 
#             *  *  *  *  * 
#                *  *  *  * 
#                   *  *  * 
#                      *  * 
#                         * 

string = ""
bar = 1

x = int(input("Masukkan angka :"))

# Looping Baris
while bar <= x:
  # Looping Kolom Spasi Kosong
  kol = bar
  while kol > 1:
    string = string + "   "
    kol = kol - 1

  # Looping Kolom Bintang
  kanan = 0
  while kanan <= (x - bar):
    string  = string + " * "
    kanan = kanan + 1
  
  string = string + "\n"
  bar = bar + 1

print (string)